@import '../Utils/Mixins';
@import '../Utils/Variables';


//Base
.root {
    @include tablet {
        max-width: 1440px;
    }

    @include desktop {
        max-width: 1440px;
        margin: 0 auto;
    }

    @include largeDesktop {
        max-width: 1900px;
        margin: 0 auto;
    }
}

.site_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1240px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 27px;

    @include tablet {
        margin-bottom: 37px;
    }

    @include desktop {
        margin-bottom: 50px;
        width: 100%;
    }

    @include largeDesktop {
        margin-bottom: 50px;
        width: 100%;
    }
}


//PROPERTIES SETTTINGS

#details_block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    width: 100%;
    gap: 5px;
}


//Location

.property_block {
    display: flex;
    flex-direction: column;
    color: $primary-color;
    flex-wrap: nowrap;
    margin-top: 10px;

    h1 {
        color: $primary-color;
    }

    @include desktop {
        width: 69%;
    }

    @include largeDesktop {
        width: 49%;
        order: 0;
    }
}

.property_title {
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;

    @include desktop {
        font-size: 35px;
        line-height: 51px;
    }

    @include largeDesktop {
        font-size: 36px;
        line-height: 51px;
    }
}

.property_location {
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 15px;

    @include desktop {
        font-size: 18px;
    }

    @include largeDesktop {
        font-size: 18px;
    }
}


//Owner details

.property_owner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    color: $primary-color;
    width: 100%;

    @include tablet {
        justify-content: space-between;
    }

    @include desktop {
        margin-top: 25px;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: end;
        width: 30%;
        order: 1;
    }

    @include largeDesktop {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: end;
        width: 49%;
        order: 1
    }

    &_name {
        display: flex;
        align-items: center;
        text-align: right;
        width: 50%;
        max-width: 93px;
        height: 52px;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        margin-right: 10px;
        letter-spacing: 0em;
        text-align: right;

        @include tablet {
            font-size: 16px;
            line-height: 18px;
        }

        @include desktop {
            font-size: 18px;
            line-height: 26px;
        }

        @include largeDesktop {
            font-size: 18px;
            line-height: 26px;
        }

    }

    &_pp {
        border-radius: 50%;
        object-fit: cover;
        width: 32px;
        height: 32px;
        flex-shrink: 0;

        @include desktop {
            width: 64px;
            height: 64px;

        }

        @include largeDesktop {
            width: 64px;
            height: 64px;
        }
    }

    &_pp:hover {
        @include largeDesktop {
            scale: 1.5;
        }
    }
}

.property_owner_details {
    display: flex;
    align-items: center;
    justify-content: end;

    @include desktop {
        flex-direction: row;
        align-items: center;
    }

    @include largeDesktop {
        flex-direction: row;
    }

}


//Tags

.property_tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;


    @include tablet {
        width: 100%;
    }

    @include desktop {
        order: 2;
    }

    @include largeDesktop {
        order: 2;
    }


    &_details {
        color: $third-color;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

    }

    .tag {
        display: flex;
        align-items: center;
        background-color: $primary-color;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        color: #FFF;
        font-size: 10px;
        font-weight: 700;
        line-height: 14px;
        padding: 5px 10px;
        max-width: 84px;
        min-width: 25px;
        max-height: 25px;
        flex: 1;



        @include tablet {
            max-height: 35px;
            font-size: 14px;
            max-width: 150px;
            line-height: 20px;
            padding: 3px 30px 2px;
        }

        @include desktop {
            max-height: 35px;
            font-size: 14px;
            max-width: 150px;
            line-height: 20px;
            padding: 3px 30px 2px;

        }

        @include largeDesktop {
            max-height: 35px;
            font-size: 14px;
            max-width: 150px;
            line-height: 20px;
            padding: 3px 30px 2px;
        }
    }

}



//Dropdown

.dropdown_block_property {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    gap: 25px;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
        order: 2;
    }

    @include largeDesktop {
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
        order: 2;
    }

    .dropdown_header {

        @include tablet {
            font-size: 18px;
        }

        @include desktop {
            font-size: 18px;
        }

        @include largeDesktop {
            font-size: 18px;
        }
    }

    #contentBlock {
        color: black;

        @include tablet {
            flex: 1 1 253px;
        }

        @include desktop {
            flex: 1 1 211px;
            font-size: 18px;
        }

        @include largeDesktop {
            flex: 1 1 211px;
            font-size: 18px;
        }
    }
}